<div class="wrapper">

    <div class="headerSection">
        <mat-form-field class="header">
            <mat-label>GQM Auswählen</mat-label>
            <select id="cars" name="carlist" form="carform">
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="opel">Opel</option>
                <option value="audi">Audi</option>
              </select>
          </mat-form-field>
    </div>

    <div class="goalSection">

    </div>
    
    <div class="questionSection">

    </div>
    
    <div class="metricSection">
        
    </div>
    
</div>