<div class="wrapper">

    <div class="headerSection">
        <select id="cars" name="carlist" form="carform" >
            <option *ngFor="let i of GqmList" value="huhuhurenshn">test</option>
        </select>
    </div>

    <div class="questionSection" >
        <button type="button" (click)="AddDialog(1)">Add Goal</button>
        <button type="button" (click)="dialogs(1)">Delete Goal</button>
    </div>

    <div class="questionSection">
        <button type="button" (click)="AddDialog(2)">Add Quetion</button>
        <button type="button" (click)="dialogs(2)">Delete Question</button>
    </div>

    <div class="metricSection">
        <button type="button" (click)="AddDialog(3)">Add Metric</button>
        <button type="button" (click)="dialogs(3)">Delete Metric</button>
    </div>

</div>
